code, .rst-content code {
	font-size: 90%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
}

.rst-content h1 a.toc-backref {
	color: #3c5064;
}

.rst-content h2 {
	padding: 0 0 10px 0;
	border-bottom: solid 1px #d81b60;
}

.rst-content h2 a.toc-backref {
	color: #d81b60;
}

.rst-content h3 a.toc-backref {
	color: #1969d7;
}