code, .rst-content code {
	font-size: 90%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
}

.rst-content h1 a.toc-backref {
	color: #64788c;
	text-transform: uppercase;
}

.rst-content h2 {
	padding: 0 0 10px 0;
	border-bottom: solid 1px #a0b4c8;
}

.rst-content h2 a.toc-backref {
	color: #d81b60;
}

.rst-content h3 a.toc-backref {
	color: #2980b9;
}

.rst-content table.docutils {
	width: 100%;
}


@media screen and (min-width: 1400px) {

	.wy-nav-content {
		margin: 0 auto;
		background: #fff;
	}

}
